body {
    margin: 0;
}
h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    margin: 0 auto;
    width: 1620px;
}
.header {
    background: #121212;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
}
.span {
    color: #b2ffa6;
}
.header-link {
    color: white;
}
.header-list {
    display: flex;
    gap: 64px;
}
/* Перша секція */
.hero-container {
    display: flex;
    gap: 57px;
    align-items: center;
}
.hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 103%;
    padding: 16px 0;
}
.hero-span {
    font-size: 54px;
}
.hero-button {
    background: #b2ffa6;
    border-radius: 5px;
    padding: 15px 80px;
    text-decoration: none;
    color: #000000;
}
.hero-img {
    height: 800px;
}
/* Друга section */
.About-Us {
    background: #efefef;
}
.About-Us-container {
    display: flex;
    gap: 57px;
    align-items: center;
}
.About-Us-title {
    display: flex;
    padding-bottom: 5px;
}
.About-Us-text {
    display: flex;
    font-size: 22px;
    padding-bottom: 10px;
}
.learn-more {
    background: #b2ffa6;
    border-radius: 5px;
    padding: 10px 60px;
    width: 264px;
    height: 26px;
    text-decoration: none;
    color: #000000;
    margin-left: 790px;
    
}
.About-Us-img {
    width: 442px;
    height: 442px;
    padding-left: 50px;
}
/* Третя section */
.third-section {
    padding-top: ;
    padding-bottom: ;
}
.third-section-container{
    display: flex;
    gap: 57px;
    align-items: center;
    
}
.third-section-img {
    width: 317px;
    height: 468px;
    padding-left: 959px;
    padding-top: 50px;
}
.third-section-img2 {
    padding-left: 100px;
    width: 50px;
    height: 50px;
    display: flex;
    
}
.third-section-caption {
    padding-left: 158px;
    padding-top: 1px;
    
}
.text {
    padding-left: 158px;
    padding-right: 50px;
}
.third-section-list {
    display: flex;
    flex-wrap: wrap;
}

/* Четверта section */ 
.services {
    background: #efefef;
    padding-top: 15px;
}
.services-container {
    
}
.services-list {
    display: flex;
}
.title {
    text-align: center;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 40px;
}
.services-text {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin-left: 15px;
}
.services-img {
    display: flex;
    margin-left: 100px;
    
}
.services-caption {
    display: flex;
    margin-left: 100px;
    
}
.services-link {
    border: 3px solid #b2ffa6;
    border-radius: 5px;
    padding: 15px 80px;
    width: 356px;
    height: 66px;
    text-decoration: none;
    color: #000000;
    margin-left: 500px;
}
/* Footer */
.footer {
    background: #121212;
    padding-top: ;
    
}
.footer-container {
    display: flex;
    justify-content: space-between;
    
}
.footer-link {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 24px;
    margin-left: 100px;
    padding-bottom: 5px;
}
